@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedElement>
<div class="card hero">
	<div class="card-content">
		<div class="title">Backoffice Bento view for 'accordionBentoItem' (alias: accordionBentoItem)</div>
		<div class="sub-title">To edit, please open the file at: ~/Views/Partials/Bento/AccordionBentoItemBackOffice.cshtml</div>
	</div>
</div>
