@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
<div class="card hero">
	<div class="card-content">
		<div class="title">Backoffice Bento view for 'DemoElement' (alias: demoElement)</div>
		<div class="sub-title">To edit, please open the file at: ~/Views/Partials/Bento/DemoElementBackOffice.cshtml</div>
	</div>
</div>
