@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.FeatureElement>
@using ContentModels = Umbraco.Web.PublishedModels;

<div class="card">
	<div class="image">
		<img src="@Model.Icon" />
	</div>
	<div class="card-content">
		<div class="feature-content">

			@Model.Summary

			@if (Model.HasValue("link"))
			{
				<div class="feature-button">
					<a href="@Model.Link" class="btn">Read More</a>
				</div>
			}

		</div>


	</div>
</div>
