@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bento Demo - @Model.Name</title>
	<link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
	<main>
		@RenderBody()
	</main>
</body>
</html>