<!-- This is the "Bento Item" template -->
<div ng-controller="bento.editor.controller as vm">
	<link ng-repeat="url in vm.cssFonts" data-ng-if="url" rel="stylesheet" data-ng-href="{{vm.trustSrc(url)}}" />
	<div class="bento-stack-item umb-box bento-layout-wrapper">
		<div class="umb-box-header bento-stack-item-handle no-grab">
			<div><i class="icon {{ vm.icon }}"></i> {{ vm.name }}</div>
			<div class="bento-stack-item-tools" ng-if="vm.item.id !== undefined">
				<div style="position:relative;">
					<a href="" ng-click="vm.toggleDeleteConfirm(true)"><i class="umb-control-tool-icon icon-trash"></i></a>
					<umb-confirm-action ng-if="vm.deleteConfirmVisible"
										direction="left"
										on-confirm="vm.remove()"
										on-cancel="vm.toggleDeleteConfirm(false)">
					</umb-confirm-action>
				</div>
			</div>
		</div>
		<div class="content">
			<div ng-repeat="areaItem in vm.item.contents">
				<div class="action-buttons" ng-if="vm.canAddMultiple()">
					<!-- ToDo: Use a bento-block-inserter to replicate the layouts hover functionality (to make this behave as an insert above) -->
				</div>
				<bento-block-picker updating="vm.updating" id="areaItem.id" key="areaItem.key" content-node="areaItem.contentNode" content-data="areaItem.contentData" icon="areaItem.icon" content-name="areaItem.name" config="vm.config" index="$index" area="vm.item"></bento-block-picker>
			</div>
			<bento-block-inserter ng-if="vm.canAddContent()" updating="vm.updating" config="vm.config" area="vm.item"></bento-block-inserter>
		</div>
	</div>
</div>
