@inherits Umbraco.Web.Mvc.UmbracoViewPage<Bento.Core.Models.StackItem>

	@foreach (var area in Model.Areas.Where(x => x.Content != null))
	{
		var classList = new List<string>();
        var classString = string.Empty;

        if (area.Content is Umbraco.Web.PublishedModels.IBentoItemSettings)
        {
            if (area.Content.HasProperty("verticalAlignment") && !string.IsNullOrEmpty(area.Content.Value<string>("verticalAlignment")) && area.Content.Value<string>("verticalAlignment") != "top")
            {
                classList.Add($"v-{area.Content.Value<string>("verticalAlignment")}");
            }

            if (classList.Any())
            {
                classString = string.Join(" ", classList);
            }
        }

		<div class="@Model.Alias-@area.Alias @classString">
			@Html.Partial($"~/Views/Partials/Bento/{area.Content.ContentType.Alias}.cshtml", area.Content)
		</div>
	}
