<div>
	<umb-load-indicator ng-if="updating"></umb-load-indicator>
	<div class="clearfix"></div>
	<div class="bento-item-preview"  ng-if="hasId(id) || hasContentData(contentData)">
		<div class="umb-box-header bento-layout-item-header">
			<div class="bento-layout-item-title"><i class="icon {{ icon }}"></i> {{ contentName }}</div>
			<div class="bento-stack-item-tools">
				<div style="position:relative;">
					<a href="" ng-click="toggleDeleteConfirm(true)"><i class="umb-control-tool-icon icon-trash"></i></a>
					<umb-confirm-action ng-if="deleteConfirmVisible"
															direction="left"
															on-confirm="remove(index)"
															on-cancel="toggleDeleteConfirm(false)">
					</umb-confirm-action>
				</div>
			</div>
		</div>
		<div class="backend-block" ng-click="open()">
			<div class="backend-content">
				<umb-load-indicator ng-if="updating"></umb-load-indicator>
				<div class="bento">
					<bento-block-preview preview-html="{{getView(this)}}" use-css="{{config.useCssFile}}" stylesheet="{{config.cssFilePath}}" use-backoffice-js="{{config.usePreviewJs}}" user-code="{{config.jsUserCode}}"></bento-block-preview>
				</div>
			</div>
		</div>
		<div  class="bento-item-preview-meta">
			<div ng-if="!embedded">
				<i class="icon icon-books"></i>
				<a href="#" ng-click="convert(id)" ng-if="adminOnly  && allowedElementTypes.length > 0"><i class="icon icon-pushpin"></i></a>
			</div>
			<div>
				<umb-badge size="xs" color="{{status.color}}">
					{{status.label}}
				</umb-badge>
			</div>
			<div ng-if="!embedded">
				Type: {{contentTypeName}}
			</div>
			<div ng-if="!embedded">
				id: {{id}}
			</div>
		</div>
	</div>
</div>
