<!-- This is the "Bento Stack" template -->
<div class="bento-layout">
	<bento-block-settings-preview style-html="{{getStyler()}}" use-block-settings-css="{{config.useBlockSettingsCss}}" stylesheet="{{config.cssFilePath}}"></bento-block-settings-preview>
	<div class="bento-layout-wrapper" style="{{layoutStyle}}" ng-class="{'show-drop-targets': sorting && allowSort,'is-sortable': allowSort}" ui-sortable="sortOptions" ng-model="areas">
		<div ng-repeat="area in areas" class="bento-layout-item" style="{{areaStyles[$index]}}">
			<div class="umb-box-header bento-layout-item-header" ng-show="areas.length > 1" style="margin-bottom: 6px;">
				<div class="bento-layout-item-title bento-layout-area-title" ng-mousedown="setSort(true)" ng-mouseup="setSort(false)">{{ area.contents.length }} Item{{ area.contents.length == 0 || area.contents.length > 1 ? 's' : '' }}</div>
				<!--<div class="bento-layout-item-title" ng-mousedown="setSort(true)" ng-mouseup="setSort(false)"><i class="icon {{ area.icon }}"></i> {{ area.name }}</div>-->
				<div class="bento-stack-item-tools">
					<div style="position:relative;">
						<a href="" ng-click="toggleDeleteConfirm($index)"><i class="umb-control-tool-icon icon-trash"></i></a>
					</div>
				</div>
			</div>
			<div class="content">
				<div ng-repeat="areaItem in area.contents">
					<div class="action-buttons">
						<!-- ToDo: Use a bento-block-inserter to replicate the layouts hover functionality (to make this behave as an insert above) -->
					</div>
					<bento-block-picker updating="updating" id="areaItem.id" key="areaItem.key" content-node="areaItem.contentNode" content-data="areaItem.contentData" icon="areaItem.icon" content-name="areaItem.name" config="config" area="area" index="$index"></bento-block-picker>
				</div>
				<bento-block-inserter updating="updating" config="config" area="area"></bento-block-inserter>
			</div>
		</div>
	</div>
</div>
