<div ng-controller="bento.layouts.editor.controller as vm">
	<umb-editor-view>
		<div class="umb-editor-header">
			<div class="flex items-center" style="height: 100%;">
				<div class="flex items-center" style="flex: 1;">
					<div id="nameField" class="umb-editor-header__name-and-description" style="flex: 1 1 auto;">
						<localize key="bento_selectLayout">Select Layout</localize>
					</div>
				</div>
			</div>
		</div>
		<umb-editor-container>
			<umb-box>
				<umb-box-content>
					<div ng-show="vm.errors.length > 0" class="alert alert-error property-error ng-binding ng-isolate-scope ng-hide">
						<ul>
							<li ng-repeat="error in vm.errors">{{error}}</li>
						</ul>
					</div>
					<div class="control-group umb-control-group" ng-repeat="layout in vm.layouts track by layout.alias">
						<div class="umb-el-wrap">
							<label class="control-label ng-binding" for="{{layout.alias}}" ng-attr-title="{{layout.alias}}" title="{{layout.name}}">
								{{layout.name}}
							</label>
							<div class="controls" id="{{layout.alias}}">
								<div class="umb-property-editor db g-isolate-scope" ng-class="{'umb-property-editor--preview': preview}" model="layout" preview="false">
									<div disable-tabindex="preview" class="ng-isolate-scope">
										<div class="ng-scope">
											<div class="bento-layout-preview">
												<div class="bento-layout-wrapper" style="{{vm.getLayoutStyle(layout)}}" ng-click="vm.layoutSelected(layout)">
													<div ng-repeat="area in layout.areas" class="bento-layout-item" style="{{vm.getAreaStyles(area)}} min-height: 50px;"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</umb-box-content>
			</umb-box>
		</umb-editor-container>
		<umb-editor-footer>
			<umb-editor-footer-content-right>
				<umb-button type="button"
										button-style="link"
										label-key="general_close"
										shortcut="esc"
										action="vm.close()">
				</umb-button>
			</umb-editor-footer-content-right>
		</umb-editor-footer>
	</umb-editor-view>
	<umb-overlay ng-if="vm.warningOverlay.show"
							 model="vm.warningOverlay"
							 position="right">
	</umb-overlay>
</div>