@inherits UmbracoViewPage<IEnumerable<Bento.Core.Models.StackItem>?>
@if (Model?.Any() == true)
{
	foreach (var item in Model)
	{
		<section>
			@await Html.PartialAsync($"~/Views/Partials/Bento/layouts/{item.Alias}.cshtml", item)
		</section>
	}
}