@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@model IPublishedElement?
@if (Model != null)
{
	@if (Model.Value<bool>("hide") == false)
	{
		<section>
			@await Html.PartialAsync($"~/Views/partials/Bento/{Model.ContentType.Alias}.cshtml", Model)
		</section>
	}
}