@inherits  UmbracoViewPage<IEnumerable<Bento.Core.Models.StackItem>>
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="bento" style="zoom:0.75;">
	<div class="body-wrapper">
		<main>
			@Html.Partial("~/views/partials/renderStack.cshtml", Model)
		</main>
	</div>
</body>
</html>
