@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	var home = Model.AncestorOrSelf<ContentModels.Home>();
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bento Demo - @Model.Name</title>
	<link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="bento">
	<div class="body-wrapper">
		<header></header>
		<main>
			@RenderBody()
		</main>
		<footer></footer>
	</div>

	<div class="attribution"><div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></div>
</body>
</html>
