<div ng-controller="bento.prevalue.edit.controller as vm">
	<umb-editor-view>
		<div class="umb-editor-header">
			<div class="flex items-center" style="height: 100%;">
				<div class="flex items-center" style="flex: 1;">
					<div id="nameField" class="umb-editor-header__name-and-description" style="flex: 1 1 auto;">
						<localize key="bento_editPreValueOptions">Edit pre value options</localize>
					</div>
				</div>
			</div>
		</div>
		<umb-editor-container>
			<umb-box>
				<umb-box-content>
					<div ng-show="vm.errors.length > 0" class="alert alert-error property-error ng-binding ng-isolate-scope ng-hide">
						<ul>
							<li ng-repeat="error in vm.errors">{{error}}</li>
						</ul>
					</div>
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label ng-binding" for="text-prevalue-label" ng-attr-title="Pre Value label">
								Label
							</label>
							<div class="controls" id="text-prevalue-label">
								<div class="umb-property-editor db g-isolate-scope" model="vm.preValue" preview="false">
									<div disable-tabindex="preview" class="ng-isolate-scope">
										<div class="ng-scope">
											<input type="text" name="preValue.label" class="umb-property-editor umb-textstring ng-scope" ng-model="vm.preValue.label" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label ng-binding" for="text-prevalue-value" ng-attr-title="Pre Value value">
								Value
							</label>
							<div class="controls" id="text-prevalue-value">
								<div class="umb-property-editor db g-isolate-scope" model="vm.preValue" preview="false">
									<div disable-tabindex="preview" class="ng-isolate-scope">
										<div class="ng-scope">
											<input type="text" name="preValue.value" class="umb-property-editor umb-textstring ng-scope" ng-model="vm.preValue.value" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</umb-box-content>
			</umb-box>
		</umb-editor-container>

		<umb-editor-footer>
			<umb-editor-footer-content-right>
				<umb-button type="button"
										button-style="link"
										label-key="general_close"
										shortcut="esc"
										action="vm.close()">
				</umb-button>
				<umb-button type="button"
										button-style="action"
										label-key="general_submit"
										action="vm.submit()">
				</umb-button>
			</umb-editor-footer-content-right>
		</umb-editor-footer>
	</umb-editor-view>
</div>